<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Primataz Coders</title>

    <!-- <link rel="shortcut icon" href="/images/favicon.png" type="image/png"> -->

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet"
    >
</head>

<body id="page-landing">
    <div id="container">
        <div class="logo-container">
            <img src="/images/logo-primataz.png" alt="Primataz">
            <h2>Plataforma de trabalhos freelancers.</h2>
        </div>

        <img 
        class="hero-image" 
        src="/images/web_developer.svg" 
        alt="Plataforma de Trabalhos freelancers"
        >

        <div class="buttons-container">
            <a class="contract" href="/contract">
                <img src="/images/icons/study.svg" alt="Contratar">
                Contratar
            </a>
            <a class="project" href="/project">
                <img src="/images/icons/give-classes.svg" alt="Projetar">
                Projetar
            </a>
        </div>

        <p class="total-connections">
            Total de 200 conexões já realizadas
            <img src="/images/icons/blue-heart.png" alt="Coração azul">
        </p>
        
    </div>
</body>

</html>