/* Declaração de variáveis no CSS */
:root{
    --color-background: #f0f0f7;
    --color-primary-lighter: #2d8ae0;
    --color-primary-light: #2068aa;
    --color-primary: #f58425;
    --color-primary-dark: #cc630e;
    --color-primary-darker: #b35406;
    --color-secondary: #0154a1;
    --color-secondary-dark: #013a70;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #f0f0f7;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;

    font-size: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

body{
    background: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea{
    font: 500 1.6rem Poppins; 
    /* Equivalente a:
    font-weight: 500;
    font-size: 1.6rem;
    font-family: Poppins;
    */
    color: var(--color-text-base);
}

#container{
    width: 900vw;
    max-width: 700px;
}

@media (min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}
